/* New Main File*/

// Import google fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

// background image
body {

	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;	
	background-position: left top;
	background-attachment: fixed;
}

// Container main styling
.main {

    // Page title 
    #title {
        font-size: 5em;
        color: #fff;
        line-height: 0.9em;
        text-align: center;
        margin: 50px 0 0 0;
    }

    // Page subtitle 
    #subtitle {
        font-size: 2em;
        color: #fff;
        line-height: 1.2em;
        text-align: center;
        margin: 30px 0 30px 0;
    }

    // Block element 
    .block {
        margin: 0 auto 4px auto;	
        min-height: 460px;
		max-width: 320px;
        opacity: 0.8; 
		position: relative;		
		
		img {
			width: 100%;
		}
    }

    h2 { 	
        margin-top: 0px;
		padding-top: 20px;
		text-align: center; 
        color: black;
    }

    p {	
        text-align: justify;	
        margin: 10px; 
        line-height: 1.4;
        color: black;
    }	

    .button {
        text-decoration: none;
        font-family: "Open Sans",sans-serif;
        font-weight: bold;
        color: black;
        padding: 5px 10px;
        border: 3px solid black;
        width: 100px;

		position: absolute;
        bottom: 10px;
		
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
    } 

    .button:hover {
        background-color: #000;
        color: white;
    }
}

/** Navbar **/

.navbar-default {
	font: bold 14px "Open Sans",sans-serif;
} 

/** Footer **/
footer {
	clear: both;
}

footer p {
	color: lightgrey;;
}



