// Styling Users Module

.blog-header {
 background: #5fafef; // rgb(48, 151, 209);
 color: #fff;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.blog-post {
	h3 {
		margin-top: 0;
	}
}

#featuredImage {
	margin: 0 auto;
}	

#featuredImage:hover {
	cursor: pointer;
}
	
#featuredFile {
	// display: none;
}

#pageFile {
	// display: none;
}

// Styling POst Pages

.post-content {

	h1 {
		margin-top: 0;
	}
	
	text-align: justify;

	// Images grid
	img {
		border: 2px solid black;
	}
	.image-item {
		padding: 5px;
	}
	.image-solo {
		margin: 0 -15px;
		padding: 5px;
	}	
	.vertical {
		height: 90vh;
	}	
    
    // Temporary Solution! Для маленьких картинок, загрузить качественные картинки и убрать!!!
    .tmp {
        width: 100%;
    }
	
	//  Таблицы со списком Viwpoints и расстояний до них 
	.viewpoint { 
		border: 1px solid black; 
		border-collapse: collapse; 
		margin: 5px auto;
	}
	.viewpoint th, td {
		border: 1px solid black; 
		padding: 0 10px 0 10px;
	}
		
	//  Warning! sign  
	.warning {
		margin: auto;
		width: 50%;
		background-color: red;
		color: #fff;
		padding: 2px 15px;
	}
}

.blog-pagination {
	text-align: center;
}