// Styling Users Module

.blog-post {
	h3 {
		margin-top: 0;
	}
}


#featuredImage {
	margin: 0 auto;
}	

#featuredImage:hover {
	cursor: pointer;
}
	
#featuredFile {
	// display: none;
}

#pageFile {
	// display: none;
}