// Styling Users Module

// Размер кнопок 
.btn-custom {
    width: 80px !important;
}

.userPhoto {	
	text-align: center;
	border-left: 1px solid #dfdfe0; 
}

#userImage {
	width: 230px;
}

#userImage:hover {
	cursor: pointer;
}